.summa {
    position: relative;
    box-shadow: 0 0 4px 1px navy;
    border-radius: 6px;
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: space-between;
    background: #1B56FD;
    color: #E9DFC3;
    font-weight: 600;
}
.allRemove {
    padding: 8px 10px;
    position: relative;
    border-radius: 50%;
    outline: none;
    border: 1.1px solid rgb(216, 216, 246);
    /* font-size: 18px; */
    color: #E9DFC3;
    cursor: pointer;
    text-align: center;
    background: transparent;
}
.allRemove:hover {
    background: red;
    color: #E9DFC3;
    filter: drop-shadow(0 0 4px red)
            drop-shadow(0 0 10px red);
}
@media (min-width: 860px){
    .summa {
        width: 800px;
        padding: 22px 26px;
    }
    .allRemove {
        font-size: 18px;
    }
}
@media (max-width: 859px){
    .summa {
        width: 350px;
        padding: 11px 13px;
        font-size: 14px;
        font-weight: 500;
    }
    .allRemove {
        font-size: 14px;
    }
}